@{
    Layout=null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Plane.css"/>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoFly - поиск дешёвых билетов
    </title>
</head>
<body>
@*    <img class="background-image" src="~/Images/plain.jpg">*@
   <div class="container">
    <div class="toppanel">
        <a href="plane.html"><span id="Logo">GoFly</span></a>
        <a href="favouriteplane.html" id="Favorites">Избранное</a>
        <a href="historyplane.html" id="History">История путешествий</a>
        <a href="registration.html" id="Registration">Зарегистрироваться</a>
    </div>

       <div class="buttons">

            <div class="planes">
                <div class="imgBorder">
                    <img src="images/planes.png" alt="">
                </div>
                <p>Авиабилеты</p>
                </div>
            
            <div class="trains">
                <a href="railway.html">
                <div class="imgBorder">
                <img src="images/train.png" alt="">
                </div>
                <p>Ж/Д билеты</p>
                </a>
            </div>


            <div class="buses">
                <a href="bus.html">
                <div class="imgBorder">
                    <img src="images/bus.png" alt="">
                </div>
                    <p>Автобусы</p>
                </a>
            </div>

            <div class="hotels">
                <a href="hotels.html">
                <div class="imgBorder">
                    <img src="images/hotel.png" alt="">
                </div>
                    <p>Отели</p>
                </a>
            </div>
            <div class="topCities">
                <a href="topCities.html">
                <div class="imgBorder">
                    <img src="images/topCities.png" alt="">
                </div>
                    <p>Топ городов</p>
                </a>
            </div>
           
            
        </div>


        <div class="bottompanel">
            <p>Безопасные платежи с </p>
            <span>PENKOFF</span>

        </div>

</div>
</body>



   