@font-face {
    font-family: 'Pragmatica';
    src: local('Pragmatica'),
         url('../fonts/Pragmatica-LightOblique.ttf') format('truetype'),
         url('../fonts/Pragmatica-LightOblique.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Pragmatica-LightOblique.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica';
    src: local('Pragmatica'),
         url('../fonts/Pragmatica-Bold.ttf') format('truetype'),
         url('../fonts/Pragmatica-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Pragmatica-Bold.woff') format('woff'); 
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Bebas Neue';
    src: local('Bebas Neue'),
         url('../fonts/BebasNeue Bold.ttf') format('truetype'),  
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
@import url('http://fonts.cdnfonts.com/css/magneto');

/* Общие настройки страницы */



*{
    margin: 0;
    padding: 0;
    outline: none;
}

a{
    text-decoration: none;
    color: white;
}

body,html{
    width: 100%;
    height: 100%;
}


body{
   background-color: black;
   background-size: 100%;
   color: white;
}


.menu {
    position: absolute;
    box-sizing: border-box;
    top: 20px;
    left: 700px;
    font-family: Bebas Neue;
    font-size: 64px;
}

/* .menuOptions{
    position: absolute;
    box-sizing: border-box;
    border: 1px white solid;
    height: 200px;
    width: 1000px;
    right: -352px;
} */


.buttons{
    top: 200px;
    /* border: 1cm;
    border:dotted;
    border-color: black; */
    position: absolute;
    left: 6%;
    /* height: 50px; */
    box-sizing: border-box;
    right: 6%;
    font-family: Bebas Neue;
}


.buttons p {
    color: white;
    font-size: 25px;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 3px 2px 2px rgb(0, 0, 0);
    font-family: Bebas Neue;
}

.imgBorder{
    /* border-radius: 25px;
    border: solid;
    border-color: rgb(0, 0, 0);
    background-color: black; */
    background: #13000F;
    border: 3px solid #10FFFF;
    border-radius: 25px;
    height: 150px;
    transition: 1s;
    text-align: center;
    align-items: center;
}


.DepartureCountry{
    position: absolute;
    display: block;
    width: 150px;
    max-width: 50%;
    max-height: 50%;
    left: 10px;
}

.DepartureCountry .imgBorder{
    background: rgba(rgb(0, 0, 0), rgb(0, rgb(0, 0, 0)), blue, 0.6);
}

.DepartureCountry .imgBorder:hover{
    opacity: 100%;
    cursor: pointer;
    background-color: #005d5d;
}


.buttons p {
    position: absolute;
    top: 40px;
}

.Hotels p{
    position: absolute;
    top: 50px;
    left: 35px;
}



.DepartureCities{
    position: absolute;
    display: block;
    width: 150px;
    max-width: 50%;
    max-height: 50%;
    margin-left: 18%;
    
}

.DepartureCities .imgBorder{
    background: rgba(rgb(0, 0, 0), rgb(0, rgb(0, 0, 0)), blue, 0.6);
}

.DepartureCities .imgBorder:hover{
    opacity: 100%;
    cursor: pointer;
    background-color: #005d5d;
}


.ArrivalCountry{
    position: absolute;
    display: block;
    width: 150px;
    max-width: 100%;
    max-height: 100%;
    margin-left: 35%;
}


.ArrivalCountry .imgBorder{
    background: rgba(rgb(0, 0, 0), rgb(0, rgb(0, 0, 0)), blue, 0.6);
}

.ArrivalCountry .imgBorder:hover{
    opacity: 100%;
    cursor: pointer;
    background-color: #005d5d;
}




.ArrivalCities{
    position: absolute;
    display: block;
    position: absolute;
    display: block;
    width: 150px;
    max-width: 100%;
    max-height: 100%;
    margin-left: 52%;
}



.ArrivalCities .imgBorder{
    background: rgba(rgb(0, 0, 0), rgb(0, rgb(0, 0, 0)), blue, 0.6);
}

.ArrivalCities .imgBorder:hover{
    opacity: 100%;
    cursor: pointer;
    background-color: #005d5d;
}


.Hotels{
    position: absolute;
    display: block;
    width: 150px;
    max-width: 50%;
    max-height: 50%;
    margin-left: 70%;
}


.Hotels .imgBorder{
    background: rgba(rgb(0, 0, 0), rgb(0, rgb(0, 0, 0)), blue, 0.6);
}

.Hotels .imgBorder:hover{
    opacity: 100%;
    cursor: pointer;
    background-color: #005d5d;
}


.Message{
    position: absolute;
    display: block;
    width: 150px;
    max-width: 50%;
    max-height: 50%;
    margin-left: 88%;
}


.Message .imgBorder{
    background: rgba(rgb(0, 0, 0), rgb(0, rgb(0, 0, 0)), blue, 0.6);
}

.Message .imgBorder:hover{
    opacity: 100%;
    cursor: pointer;
    background-color: #005d5d;
}

.Message p{
    position: absolute;
    top: 50px;
    left: 20px;
}