/* Подключение шрифтов */

@font-face {
    font-family: 'Pragmatica';
    src: local('Pragmatica'), url('../fonts/Pragmatica-LightOblique.ttf') format('truetype'), url('../fonts/Pragmatica-LightOblique.eot?#iefix') format('embedded-opentype'), url('../fonts/Pragmatica-LightOblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica';
    src: local('Pragmatica'), url('../fonts/Pragmatica-Bold.ttf') format('truetype'), url('../fonts/Pragmatica-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Pragmatica-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue'), url('../fonts/BebasNeue Bold.ttf') format('truetype'),
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
@import url('http://fonts.cdnfonts.com/css/magneto');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
}

body, html {
    width: 100%;
    height: 100%;
    font-weight:800;
}


body {
    background: url(../Images/TopCitiesBack.jpg);
    background-size: 100%;
    background-color: aquamarine;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}
/* Верхняя плашка */

.toppanel {
    height: 3%;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-color: black;
    box-sizing: content-box;
    position: absolute;
}

    .toppanel a {
        text-decoration: none;
        font-size: 25px;
        font-family: Bebas Neue;
        display: inline-block;
        text-shadow: 1px 0px 5px rgb(0, 0, 0),-1px 0px 5px rgb(0, 0, 0);
    }
.Quit {
    font-size: 24px;
    color: rgb(255, 255, 255);
    position: absolute;
    right: -5%;
    margin-right: 8%;
    font-family: Bebas Neue;
}
    .toppanel #Favorites::after {
        content: "";
        display: block;
        height: 3px;
        width: 0%;
        background-color: white;
        transition: width 0.4s ease-in-out;
    }

    .toppanel #Favorites:hover::after {
        width: 100%;
    }

    .toppanel #History::after {
        content: "";
        display: block;
        height: 3px;
        width: 0%;
        background-color: white;
        transition: width 0.4s ease-in-out;
    }

    .toppanel #History:hover::after {
        width: 100%;
    }

    .toppanel #Registration::after {
        content: "";
        display: block;
        height: 3px;
        width: 0%;
        background-color: white;
        transition: width 0.4s ease-in-out;
    }

    .toppanel #Registration:hover::after {
        width: 100%;
    }

    .toppanel #Feedback::after {
        content: "";
        display: block;
        height: 3px;
        width: 0%;
        background-color: white;
        transition: width 0.4s ease-in-out;
    }

    .toppanel #Feedback:hover::after {
        width: 100%;
    }

    .toppanel #Feedback {
        color: rgb(255, 255, 255);
        position: absolute;
        right: 0;
        margin-right: 53%;
    }

    .toppanel #Login::after {
        content: "";
        display: block;
        height: 3px;
        width: 0%;
        background-color: white;
        transition: width 0.4s ease-in-out;
    }

    .toppanel #Login:hover::after {
        width: 100%;
    }


    .toppanel #Logo {
        margin-left: 0%;
        font-family: Magneto;
        font-size: 50px;
        color: rgb(36, 93, 250);
        text-shadow: 3px 3px 1px #fff;
    }

    .toppanel #Login {
        color: rgb(255, 255, 255);
        position: absolute;
        right: 0;
        margin-right: 2%;
    }



    .toppanel #Registration {
        color: rgb(255, 255, 255);
        position: absolute;
        right: 0%;
        margin-right: 8%;
    }

    .toppanel #History {
        color: rgb(255, 255, 255);
        position: absolute;
        right: 0%;
        margin-right: 38.5%;
    }

    .toppanel #Favorites {
        color: rgb(255, 255, 255);
        position: absolute;
        right: 0%;
        margin-right: 52%;
    }

/* Панель авторизации */

.autorizationPannel {
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
    background: url(../Images/SkyBG.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 1s;
    transform: translateX(100%);
    font-family: Bebas Neue;
    z-index: 1;
}

.autorizationPannel_Active {
    transform: translateX(0%);
    border-radius: 25px 0px 0px 25px;
    z-index: 1;
}

.autorizationPannel #Login {
    position: absolute;
    left: -100px;
    top: -0.3px;
    color: white;
    font-family: Bebas Neue;
    font-size: 25px;
    text-decoration: none;
    overflow: hidden;
}

    .autorizationPannel #Login::after {
        content: "";
        display: block;
        height: 3px;
        width: 0%;
        background-color: white;
        transition: width 0.4s ease-in-out;
    }

    .autorizationPannel #Login:hover::after {
        width: 100%;
    }


.autorizationPannelParameters {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex-direction: column;
}

    .autorizationPannelParameters a {
        text-decoration: none;
        font-weight: 400;
    }



    .autorizationPannelParameters #autorizationTitle {
        position: absolute;
        top: 100px;
        color: white;
        font-size: 32px;
    }

    .autorizationPannelParameters #InputLogin {
        position: absolute;
        top: 200px;
        width: 250px;
        height: 35px;
        border-radius: 25px;
    }

    .autorizationPannelParameters #InputPassword {
        position: absolute;
        top: 250px;
        width: 250px;
        height: 35px;
        border-radius: 25px;
    }

    .autorizationPannelParameters #EnterButton {
        position: absolute;
        top: 300px;
        border-radius: 25px;
        height: 35px;
        width: 125px
    }

.autorizationInfo {
    position: absolute;
    top: 350px;
    font-size: 26px;
}


/* Рейтинг городов */

/* .table{
    position: absolute;
    box-sizing: border-box;
    top: 200px;
    left: 200px;
    width: 1210px;
    border: 1px solid black;
    height: 100%;

} */

.notify {
    position: absolute;
    bottom: 300px;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background: rgba(0,0,0,.6);
    box-sizing: border-box;
    transition: height .2s;
    border-radius: 15px;
    border: 1.1px;
}

#notifyType:before {
    display: block;
    margin-top: 15px;
}

.active {
    height: 50px;
}

.success:before {
    Content: "Вы не авторизованы, для продолжения, необходимо это сделать.";
}

/* Окно с информацией о городах */

.feedbackBlock {
    position: absolute;
    /* border: 3px solid rgb(0, 0, 0); */
    border-radius: 25px;
    box-sizing: border-box;
    top: 100px;
    left: 521.5px;
    width: 500px;
    height: 300px;
    /* background-color: rgba(148, 110, 53, 0.342) */
}



#reviewAdding {
    top: 20px;
    left: 175px;
    position: absolute;
    /* top: 200px; */
    /* left: 676.5px; */
    font-size: 26px;
    color: white;
    font-family: Bebas Neue;
    font-weight: 800;
}

.reviewInfo {
    top: 70px;
    position: absolute;
    /* top: 240px; */
    /* left: 678.5px; */
    /* width: 400px; */
    padding-bottom: 10px;
}

    .reviewInfo input,
    .reviewInfo textarea {
        padding: 10px 20px;
        resize: none;
    }

    .reviewInfo #nameAuthor {
        position: absolute;
        width: 400px;
        border-radius: 25px;
        left: 23px;
    }

    .reviewInfo #textAuthor {
        position: absolute;
        top: 0px;
        left: 25px;
        width: 400px;
        height: 150px;
        border-radius: 25px;
        background: rgba(255, 255, 255, 0.9);
        font-size: 26px;

                
        /* box-sizing: border-box;
    border: none;
     background: transparent; 
    color : rgb(255, 255, 255);
   border-bottom: 3px solid #ccc;
    padding: 15px 0 10px;
    outline: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;     */
    }

.searchButton {
    height: 100%;
    display: flex;
}

    .searchButton .btn-1 {
        z-index: 1;
        left: 175px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px 20px;
        font-size: 1.25rem;
        position: relative;
        margin: 0;
        border-radius: 30px;
        overflow: hidden;
        color: #fff;
        box-shadow: 0 0 0 0 rgba(248, 64, 227, 0.842), 0 0 0 0 rgba(244, 39, 255, 0.766);
        transition: tranform 0.3s ease, box-shadow 1s ease;
        height: 50px;
        top: 187px;
        align-items: center;
        justify-content: center;
    }



        .searchButton .btn-1::after {
            content: "";
            width: 400px;
            height: 400px;
            position: absolute;
            top: -50px;
            left: -100px;
            background-color: #ff3cac;
            background-image: linear-gradient(225deg, #1b6229 0%, #4b260b 50%, #ff00ae 100%);
            z-index: -1;
            transition: 8s ease;
        }

        .searchButton .btn-1:hover {
            transform: translate(0, -1px);
            box-shadow: 10px -10px 25px 0 rgba(150, 105, 8, 0.5), -10px 10px 25px 0 rgba(255, 255, 255, 0.5);
        }

            .searchButton .btn-1:hover::after {
                transform: rotate(150deg);
            }

.title {
    position: absolute;
    box-sizing: border-box;
    color: white;
    top: 423px;
    left: 650px;
    font-family: Bebas Neue;
    font-size: 30px;
    background-color: black;
    border-radius: 25px;
    border: 10px black solid;
    padding: 0px 50px;
}

.FeedbackContainer {
    padding-bottom: 15px;
    border-bottom: 1px black dotted;
    text-align: left;
}

.    {
    font-weight: 800;
}

.text {
    padding-left: 20px;
}

.allFeedbacks {
    font-family: Bebas Neue;
    position: absolute;
    box-sizing: border-box;
    top: 490px;
    left: 267px;
    color: rgb(0, 0, 0);
    width: 1000px;
    border: 1px white solid;
    max-width: 100%;
    background-color: white;
    border-radius: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
