@{
    ViewData["Title"] = "MailConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mail confirmation</h1>

<form method="post">
    <input class="form-control" type="text" name="mailConfirmationCode" placeholder="Mail Confirmation Code" />
    <br />
    <button class="btn btn-success">MailConfirmation</button>
</form>