@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>

<form method="post">
    <input class="form-control" type="text" name="userFirstName" placeholder="First Name" />
    <input class="form-control" type="text" name="userLastName" placeholder="Last Name" />
    <input class="form-control" type="text" name="userEmail" placeholder="Email" />
    <input class="form-control" type="text" name="userGender" placeholder="Gender" />
    <input class="form-control" type="text" name="userPhoneNumber" placeholder="Phone Number" />
    <input class="form-control" type="text" name="userAge" placeholder="Age" />
    <input class="form-control" type="text" name="userLanguage" placeholder="Language" />
    <input class="form-control" type="password" name="userPassword" placeholder="Password" />
    <br />
    <button class="btn btn-success">Register</button>
</form>