@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee</h1>

<form method="post" asp-controller="Home" asp-action="Logout">
    <button class="bth bth-info">Logout</button>
</form>