@model ICollection<GoFly_web.Storage.Entity.Itinerary>

<h1>WE-we</h1> 

<table> 
    <tr>
        <th>Identification number</th>
        <th>Departure city</th>
        <th>Arrival city</th>
    </tr>

</table>
