@{
    Layout=null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="~/css/Feedback.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoFly - поиск дешёвых билетов
    </title>
</head>
<body>
    <div class="container">
        <div class="toppanel">
        <a asp-area="" asp-controller="Plane" asp-action="Plane"><span id="Logo">GoFly</span></a>
        <a asp-area="" asp-controller="Favourite" asp-action="Favourite" id="Favorites">Избранное </a>
         <a asp-area="" asp-controller="History" asp-action="History" id="History">История путешествий</a>
        <a asp-area="" asp-controller="Registration" asp-action="Registration" id="Registration">Зарегистрироваться</a>
        <a asp-area="" asp-controller="Feedback" asp-action="Feedback" id="Feedback">Отзывы</a>
    </div>

        <div class="autorizationPannel">
            <a href="#" class="LoginMenu_btn" id="Login">Войти</a>
            <nav class="autorizationPannelParameters">
                <p id="autorizationTitle">Авторизация</p>
                <input id="InputLogin" type="text" placeholder="Введите логин сюда">
                <input id="InputPassword" type="password" placeholder="Введите пароль сюда">
                <button id = "EnterButton">Вход</button>
                <div class="autorizationInfo">
                    <p>Забыли пароль?</p>
                    <a id="AutorizationPress" href="#">Нажмите</a>
                    <p>для восстановления <br> Нет аккаунта?</p>
                    <a asp-area="" asp-controller="Registration" asp-action="Registration">Зарегистрируйтесь</a>
                </div>
            </nav>
        </div>

        <div class="feedbackBlock">
            <span id="reviewAdding">Добавить отзыв</span>
            <div class="reviewInfo">
                <input type="text" name="nameAuthor" id="nameAuthor" placeholder="Ваше имя">
                <textarea name="textAuthor" id="textAuthor"  placeholder="Ваш отзыв"></textarea>
                <div class="searchButton">
                    <a href="#" class="btn-1">Отправить</a>
                </div>
            </div>
        </div>

        <div class="otherFeedbacks">
            <div class="title">Все отзывы</div>
                <div class="allFeedbacks">
                    <div class="FeedbackContainer">
                        <span class="name">Виталий</span>
                        <span class="text">Всё отлично</span>
                    </div>
                    <div class="FeedbackContainer">
                        <span class="name">Максим</span>
                        <span class="text">Сайт хорош</span>
                    </div>
                    <div class="FeedbackContainer">
                        <span class="name">Алибек</span>
                        <span class="text">Круто, уехал в Татарстан</span>
                    </div>
                    <div class="FeedbackContainer">
                        <span class="name">Григорий</span>
                        <span class="text">Дешевые цены, хорошие полёты</span>
                    </div>
                    <div class="FeedbackContainer">
                        <span class="name">Иван</span>
                        <span class="text">Сайт аху**ный, но немного не работает</span>
                    </div>
                    <div class="FeedbackContainer">
                        <span class="name">Мухамед</span>
                        <span class="text">Ваабше чотка, отвечаю</span>
                    </div>
                    <div class="FeedbackContainer">
                        <span class="name">Дениз</span>
                        <span class="text">Поставьте 35 <3</span>
                    </div>
                </div>
        </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
$('.LoginMenu_btn').on('click',function(e){
    e.preventDefault();
    $('.autorizationPannel').toggleClass('autorizationPannel_Active')
})
</script>
</html>